<% layout("/layouts/boilerplate") -%>
<body>
  <div class="row mt-4">
    <div class="col-8 offset-2">
      <h3>Listing Details</h3>
      <div class="card card-listing" style="width: 18rem">
        <img src="<%= data?.image?.url %>" class="card-img-top" alt="img" />
        <div class="card-body">
          <h2 class="card-text"><%= data.title %></h2>
          <p class="card-text"><%= data.description %></p>

          <p class="card-text">
            &#8377;<%= data.price.toLocaleString("en-IN") %>
          </p>
          <p class="card-text"><%= data.location %></p>
          <p class="card-text"><%= data.country %></p>
          <p class="card-text">Owner : <%= data?.owner?.username %></p>

          <!-- Edit and delete buttons -->
          <% if(loggdinUser?._id.equals(data.owner._id)){ %>
          <div class="btns">
            <a href="/listings/<%= data._id %>/edit" class="btn"> Edit </a>
            <form
              method="POST"
              action="/listings/<%= data._id %>?_method=DELETE"
            >
              <button class="btn btn-danger">Delete</button>
            </form>
          </div>
          <% } %>

          <!--  Add Review Form -->
          <div class="col-8 offset-1">
            <hr />
            <% if(loggdinUser){ %>
            <h4>Leave a Review</h4>
            <form
              method="POST"
              action="/listings/<%= data._id %>/reviews"
              novalidate
              class="needs-validation"
            >
              <!--  give ratings -->
              <div>
                <label for="rating" class="form-label">Rating</label>
                <fieldset class="starability-slot">
                  <input
                    type="radio"
                    id="no-rate"
                    class="input-no-rate"
                    name="review[rating]"
                    value="1"                  
                    checked
                    aria-label="No rating."
                  />
                  <input
                    type="radio"
                    id="first-rate1"
                    name="review[rating]"
                    value="1"
                  />
                  <label for="first-rate1" title="Terrible">1 star</label>
                  <input
                    type="radio"
                    id="first-rate2"
                    name="review[rating]"
                    value="2"
                  />
                  <label for="first-rate2" title="Not good">2 stars</label>
                  <input
                    type="radio"
                    id="first-rate3"
                    name="review[rating]"
                    value="3"
                  />
                  <label for="first-rate3" title="Average">3 stars</label>
                  <input
                    type="radio"
                    id="first-rate4"
                    name="review[rating]"
                    value="4"
                  />
                  <label for="first-rate4" title="Very good">4 stars</label>
                  <input
                    type="radio"
                    id="first-rate5"
                    name="review[rating]"
                    value="5"
                  />
                  <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
              </div>

              <div>
                <label for="comment" class="form-label"> Comment</label>
                <textarea
                  name="review[comment]"
                  id="comment"
                  cols="30"
                  rows="2"
                  class="form-control"
                  required
                ></textarea>
                <div class="invalid-feedback">Please add some comments</div>
              </div>
              <button type="submit" class="btn btn-outline-dark">Submit</button>
            </form>
            <hr />
            <% } %>

            <!-- All Reviews -->
            <h4>All Reviews</h4>
            <% for(review of data.reviews){ %>
            <div class="card reviewCard mb-3">
              <div class="card-body reviewCardBody">
                <h5 class="card-title"><%= review?.author?.username %></h5>

                <!--  show rating -->
                <div id="rating1" class="star-rating">
                  <% for (let j = 1; j <= 5; j++) { %>
                  <span
                    class="fa fa-star <%= j <= review.rating ? 'checked' : '' %>"
                  ></span>
                  <% } %>
                </div>

                <!-- show comment -->

                <p class="card-text"><%= review.comment %></p>

                <!-- only review author can see review delete button -->
                <% if(loggdinUser?._id.equals(review?.author?._id)){ %>
                <form
                  method="POST"
                  action="/listings/<%= data._id %>/reviews/<%= review._id %>?_method=DELETE"
                >
                  <button class="btn" type="submit">Delete</button>
                </form>
                <% } %>
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
